
.login {
    width: 40%;
    margin: auto;
}

.mail {
    text-align: left;
    max-width:100%;
}

.mail input, .mail .fill.center {
    width: 100%;
    height: 4rem;
}

.mail input {
    font-size: 2rem;
}

.mail .fill.center{
    padding: 1.25rem;
}

.login div {
    margin: 2rem 0;

}

.left>h4 {
    font-weight: 400;
}

.google, .apple {
    border: 1px solid black;
    padding: 1rem 0;
    font-weight: 300;
    transition: all 0.4s;
}



.sing-with i {
    margin-right: 7rem;
    margin-left: 1rem;

}

.sing-with, .or {
    font-size: 1.5rem;
}

.or {
    position: relative;
}

.bg-white {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -55%);
    background-color: white;
    padding: 0.5rem;
}

.cookies {
    background-color: white;
    height: 5rem;
    margin: 0 1rem;
    font-size: 0.85rem;
    padding: 1rem;
    position: fixed;
    bottom: 0.5rem;
    left: 0;
}

.cookies .col-2>div{
    margin: 0 1rem;
}

.btn-black {
    background-color: rgb(46, 46, 46);
    padding: calc(1rem + 2px);
    transition: all 0.5s;
}


/* effects */

.cookies .col-2 .btn-black:hover {
    box-shadow: 0 0 10px var(--bg_btn_blue);
    opacity: 0.7;
    background-color: var(--bg_btn_blue);
    color: var(--tx_color_white);
    background: rgb(0 97 255);
    transform: scale(1.1);
}

.google:hover, .apple:hover {
    border-radius: 1.5rem;
}

.google:hover {
    background-color: rgba(78, 143, 248, 0.1);
}

.apple:hover {
    background-color: rgba(95, 95, 95, 0.1);
}



