/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font */

body {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --bg_btn_blue: rgb(0 97 255);
    --tx_color_white: white;
    --bg_light: rgb(180 208 231);
    --tx_color_gray: gray;
    --bg_members: rgb(245 245 245);
}

a {
    text-decoration-line: none;
}

i {
    color: black;
}

h1 {
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 3rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

hr {
    border-bottom: 1px solid var(--tx_color_gray);
    margin: 2rem 70% 2rem 0;
}

img {
    width: 100%;
    height: auto;
}

.row {
    display: flex;
} 


.col-3 {
    width: calc(100% / 12 * 3);
}


.col-4 {
    width: calc(100% / 12 * 4);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-12 {
    width: 100%;
}

.wrap {
    flex-wrap: wrap;
    justify-content: space-between;
}

.about {
    text-decoration-line: underline;
}

.inline-list {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2rem;
    flex-wrap: wrap;
}

.d-flex {
    display: flex;
}

.right {
    align-items: center;
    justify-content: end;
}

.center {
    align-items: center;
    text-align: center;
}

.buttons {
    padding: 1rem;
    margin-left: 2rem;
}

.buttons_block {
    display: block;
}

.container {
    max-width: 1170px;
    width: 80%;
    margin: auto;
}

.actions a {
    display: inline-block;
    margin: 1.5rem 0;
}

.col-gap {
    padding: 2rem 0;
}



/* nav section */

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-right: 2rem;

}

.head-menu {
    position: fixed;
    box-shadow: 0 0 10px black;
    width: 100%;
    background-color: var(--tx_color_white);
}

.login {
    background-color: transparent;
    color: black;
}

.start {
    background-color: var(--bg_btn_blue);
    color: var(--tx_color_white);
    padding: 0.5rem 1rem;
}

.buttons a:last-child {
    margin-left: 1rem;
}

/* end nav section */

/* presentation */

.presentation {
    background-color: var(--bg_light);
    padding-top: 5rem;
    height: 45rem;
}

.jumbotron {
    object-fit: cover;
    max-width: 100%;

}

.arrow {
    margin-top: 2rem;
}

/* end presentation */

.main_container {

    max-width: 1170px;
    width: 60%;
    margin: 8rem auto
}

.main_row {
    display: flex;
    justify-content: space-between;
    margin: 0 -1rem;
    flex-wrap: wrap;
    row-gap: 3rem;
}

.flag {
    padding: 3rem 0;
}

.flag a {
    color: var(--tx_color_gray);
    margin-right: 1rem;
}

.flag i {
    color:var(--bg_btn_blue);


}

.targhet {
    border-bottom: 1px solid var(--tx_color_gray);
    padding: 1rem;
}

.border {
    border: 1px solid var(--tx_color_gray);
    height: 100%;
}

.card {
    margin: auto;
}

.card_button {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
    padding: 1rem 0;
    background-color: var(--bg_btn_blue);
}

.try {

    color: var(--tx_color_white);
    padding: 1rem;

}

.check i {
    color: var(--bg_btn_blue);
}

.contains {
    margin: 10%;
}

.contains li {
    padding: 1rem 0;
    
}
.gap {
    padding: 0 1rem;
}

.gap-5 {
    margin: 5rem 0;
}

.plan {
    line-height: 3rem;
}

.period {
    color: var(--tx_color_gray);
}

.offert .icon i, .check i {
    margin-right: 0.5rem;
}

.top {
    margin-top: 1.5rem;
    margin-left: calc(10% + 1rem);
    margin-right: 10%;
}

.enterprise {
    padding: 0 5%;
}

.enterprise>p, h3 {
    padding: 1rem 0 2rem 0;
}


.meet {
    padding-left: 3rem;
    text-align: left;
}

.btn-light {
    border: 2px solid var(--tx_color_gray);
    padding: 1rem;
    width: fit-content;
    margin:2rem 0
}

.gray {
    color: var(--tx_color_gray);
}

.members div {
    background-color: green;
}

.logos.col-4 img {
    filter: invert(1);
    width: 15rem;
}

.logos div {
    width: 50%;
    height: 50%;
    position: relative;
    height: 20rem;
}

.logo_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

