/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font */

body {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --bg_btn_blue:rgb(0 97 255);
    --tx_color_white: white;
    --bg_light:rgb(180 208 231);
}

a {
    text-decoration-line: none;
    margin-right: 1rem;
}

i {
    color: black;
}

h1 {
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 3rem;
}

.row {
    display: flex;
}
.col-4 {
    width: calc(100% / 12 * 4);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-12 {
    width: 100%;
}

.wrap {
    flex-wrap: wrap;
}

.inline-list {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2rem;
    flex-wrap: wrap;
}

.d-flex {
    display: flex;
}

.right {
    align-items: center;
    justify-content: end;
}

.center {
    align-items: center;
}

.buttons {
    padding: 1rem;
    margin-left: 2rem;
}

.buttons_block {
    display: block;
}

.container
{
  max-width: 1170px;
  width: 80%;
  margin: auto;
}

.actions a {
    display: inline-block;
    margin: 1.5rem 0;
}



/* nav section */

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-right: 2rem;

}

.head-menu {
    position: sticky;
    box-shadow: 0 0 10px black;
}

.login {
    background-color: transparent;
    color: black;
}

.start {
    background-color: var(--bg_btn_blue);
    color: var(--tx_color_white);
    padding: 0.5rem 1rem;
}

/* end nav section */

/* presentation */

.presentation {
    background-color: var(--bg_light);
    padding-top: 5rem;
    height: 45rem;
}

.jumbotron {
    object-fit: cover;
    max-width: 100%;

}

.arrow {
    margin-top: 2rem;

}


/* end presentation */